.App {
  display: flex;
  flex-direction: column; }
  .App .header {
    text-align: center;
    background-color: aqua;
    padding: 0.5em;
    width: 90%;
    margin: 0 auto;
    margin-top: 1em; }
  .App .myStore {
    display: flex;
    flex-direction: column;
    margin-top: 1em; }
    .App .myStore .products {
      display: flex;
      flex-direction: row; }
      .App .myStore .products .product {
        border: 1px solid black;
        width: 7em;
        margin-left: 1em; }
        .App .myStore .products .product.selected {
          background-color: cornflowerblue; }
        .App .myStore .products .product .productDetails {
          margin-top: 0; }
          .App .myStore .products .product .productDetails .productImg {
            width: 4em;
            height: 4em;
            background: url("../images/new-product-22853660.jpg") no-repeat center;
            background-size: cover;
            margin: 0 auto; }
    .App .myStore .productDetails {
      margin-top: 3em; }
      .App .myStore .productDetails .productImg {
        width: 4em;
        height: 4em;
        background: url("../images/new-product-22853660.jpg") no-repeat center;
        background-size: cover;
        margin-top: 1em; }
      .App .myStore .productDetails .inputs {
        font-size: 0.7em;
        display: flex;
        flex-direction: column; }
